.landing-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.plane {
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes updown {
  0% {
  }
  25% {
  }
  50% {
  }
  75% {
  }
  100% {
  }
}
