.title {
  background-color: #7c602c;
  color: #d9b73e;
  padding: 2rem;
  padding-bottom: 1rem;
  margin: 4px;
  margin-bottom: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

.title-text {
  position: relative;
}
.logo {
  position: absolute;
  width: 4rem;
  z-index: 1;
  right: -4vw;
  top: 1vh;
}
.circle {
  background-color: #7c602c;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  margin: 4px;
  padding-top: 0.5rem;
}

.loading {
  margin: auto;
  margin-top: 10rem;
  text-align: center;
  width: 50%;
  color: white;
}
.map-wrapper {
  box-sizing: border-box;
  margin: auto;
  width: 81vw;
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.progress-bar {
  width: 80%;
  margin: auto;
  margin-top: 1.5rem;
}

.dialog-container {
  width: 65vw;
  height: 60vh;
  /* border: solid black; */
  margin: auto;
  padding: 0;
  position: relative;
  display: block;
}

.answered {
  background-color: #fcf7e3;
  padding: 2rem;
  border-radius: 1rem;
}

@mixin container {
  margin: auto;
  margin-top: 1rem;
  background-color: #fcf7e3;
  border-radius: 1rem;
  padding: 1rem;
  width: 50vw;
  min-height: 30vh;
  position: absolute;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
}
.question {
  @include container;
}

.dotted-underline {
  margin: auto;
  width: 80%;
  padding-bottom: 0.25rem;
  border-bottom: 0.25rem dotted;
}

.right-point {
  width: 0;
  height: 0;
  border-left: 2vh solid transparent;
  border-right: 2vh solid transparent;
  border-top: 10vh solid #fcf7e3;
  position: absolute;
  bottom: -5vh;
  right: 0%;
  transform: rotate(-30deg);
  @media screen and (max-width: 900px) {
    transform: rotate(0deg);
    right: 10%;
    bottom: -3vh;
  }
  @media screen and (max-width: 700px) {
    transform: rotate(0deg);
    right: 10%;
    bottom: -10vh;
  }
}

.isabelle {
  position: absolute;
  right: -25vw;
  z-index: -1;
  bottom: -40vh;
  height: 60vh;
  @media screen and (max-width: 900px) {
    height: 40vh;
    bottom: -30vh;
  }
}

@mixin animal-crossing-box {
  appearance: none;
  border: 0;
  outline: none;
  font-family: inherit;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.25rem;
  padding: 8px;
  border-radius: 23px;
  cursor: pointer;
  padding-left: 2rem;
  padding-right: 2rem;
}

.answer {
  @include animal-crossing-box;
  padding-right: 0rem;
  color: #8d7c72;
  background-color: #daece5;
}

@mixin animal-crossing-effect {
  &:hover {
    background-image: repeating-linear-gradient(
      -45deg,
      #00d2c2,
      #00d2c2 15px,
      #00b6a9 0,
      #00b6a9 30px
    );
    background-size: 200% 200%;
    animation: barberpole 3s linear infinite;
  }
}

.submit-button {
  @include animal-crossing-box;
  color: white;
  margin-left: 2rem;
  background-color: #928f81;
  @include animal-crossing-effect;

  @media screen and (max-width: 700px) {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

.congratz {
  @include animal-crossing-box;
  background-color: #928f81;
  color: yellow;
}

.background {
  position: absolute;
  width: 75vw;
  overflow: hidden;
  height: 60%;
  margin: none;
  img {
    position: absolute;
    top: 14em;
    left: 0;
    width: 70em;
    z-index: -1;
  }
}

@keyframes barberpole {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}
